.container{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: calc(100% - 16rem);
  padding: 0 7rem;
}
.left{
  width: 24%;
  height: 100%;
}
.main{
  width: 52%;
  height: 100%;
}

.right{
  width: 24%;
  height: 100%;
}
